<a href="https://colab.research.google.com/github/PietroSantos280/Aula_PA/blob/main/Pa_2%C2%B0Bimestre/Fun%C3%A7%C3%B5es_com_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# FUNÇÕES

Na programação, funções são blocos de código que realizam determinadas tarefas que normalmente precisam ser executadas diversas vezes dentro de uma aplicação. Quando surge essa necessidade, para que várias instruções não precisem ser repetidas, elas são agrupadas em uma função, à qual é dado um nome e que poderá ser chamada/executada em diferentes partes do programa.

## QUANDO PRECISAMOS SEGUIR UM PASSO DE INSTRUÇÕES SEMPRE QUE FOR FAZER ALGO NORMALMENTE SE CRIA FUNÇÕES, EXEMPLO, SE PRECISO CALCULAR A FOLHA DE PAGAMENTO DO FUNCIONÁRIO. TODOS OS MESES O RH PRECISA DAS SEGUINTES INFORMAÇÕES#

*   Qtde de horas Faltas
*   Qtde de dias Faltas
*   Qto o funcionário ganha por hora
*   Fez hora extra?
*   Qtdos dias trabalhados no Total?

SABE-SE QUE TODOS OS MESES ESSAS INFORMAÇÕES SÃO NECESSÁRIAS, PORÉM A FUNÇÃO QUE CALCULA TUDO ISSO JÁ FICA PRONTA, É SÓ FORNECECER AS INFORMAÇÕES(PARÂMETROS) QUE O SISTEMA CALCULA

ENTÃO PARA FICAR FÁCIL DE LEMBRAR PENSEM QUE A FUNÇÃO SÃO PROCEDIMENTOS A SEGUIR PARA REALIZAR DETERMINADA **FUNÇÃO**

![FUNCAOPYTHON.webp]()

**IMPORTANTE✈**


1.   Toda função quando declarada é proseguida por **(  )**
2.   Nem toda função tem parâmetro para ser executada
3.   Existem Funções com retorno
4.   Existem Funções sem retorno

In [ ]:
# Função sem parâmetro e sem retorno
def primeiraFunc():
  print('Hello World')

## A função é definida porém é necessário chamá-la para ver o resultado de sua execução

In [ ]:
primeiraFunc()

Hello World

In [ ]:
#Função sem retorno, sem parâmetro, porém com mais instruções
def instrucoes_curso_python():
  print('1 - Fazer a Matricula')
  print('2 - Participar de 75% das aulas')
  print('3 - Enviar Exercícios')
  print('4 - Sempre tirar suas dúvidas')
  print('5 - Realizar Quiz')
  print('6 - Obter Bom desempenho')
  print('7 - Receber Certificado!')

In [ ]:
instrucoes_curso_python()

1 - Fazer a Matricula
2 - Participar de 75% das aulas
3 - Enviar Exercícios
4 - Sempre tirar suas dúvidas
5 - Realizar Quiz
6 - Obter Bom desempenho
7 - Receber Certificado!

In [ ]:
# Definindo uma função com parâmetro
def primeiraFunc(nome):
    print('Hello %s' %(nome))

In [ ]:
primeiraFunc("Cíntia")

Hello Cíntia

In [ ]:
#Usando Laço de Repetição sem retorno
def funcLeitura():
    for i in range(0, 5):
        print("Número " + str(i+1))

In [ ]:
funcLeitura()

Número 1
Número 2
Número 3
Número 4
Número 5

In [ ]:
#Usando Laço de Repetição sem retorno
def escalacao():
  listaEscalacao = []
  qtde = int(input("Quantos jogadores vai escalar?"))
  for i in range(qtde):
    jogador = (input("Escale o Jogador" + str(i+1)))
    listaEscalacao.append(jogador)
  print("Jogadores Escalados: ", listaEscalacao)

In [ ]:
escalacao()

Quantos jogadores vai escalar?3
Escale o Jogador1Pedro
Escale o Jogador2Jose
Escale o Jogador3Alfredo
Jogadores Escalados:  ['Pedro', 'Jose', 'Alfredo']

In [ ]:
#Usando Laço de Repetição com retorno
def escalacao():
  listaEscalacao = []
  qtde = int(input("Quantos jogadores vai escalar?"))
  tipo = input("Para que tipo de esportes você escalar?")
  for i in range(qtde):
    jogador = (input("Escale o Jogador" + str(i)))
    listaEscalacao.append(jogador)
  return listaEscalacao, tipo

In [ ]:
#Quando você precisa manipular o retorno depois é melhor fazer a função dessa forma
variavel_recebe_retorn, esporte = escalacao()

Quantos jogadores vai escalar?4
Para que tipo de esportes você escalar?Peteca
Escale o Jogador0Marta
Escale o Jogador1Cíntia
Escale o Jogador2Fernanda
Escale o Jogador3Alfredo

In [ ]:
variavel_recebe_retorn

['Marta', 'Cíntia', 'Fernanda', 'Alfredo']

In [ ]:
esporte

'Peteca'

In [ ]:
print("Os Jogadores escalados foram: ", variavel_recebe_retorno )

Os Jogadores escalados foram:  ['Alberto', 'Fernando']

In [ ]:
# Função para somar números
def addNum(firstnum, secondnum):
    print("Primeiro número: " + str(firstnum))
    print("Segundo número: " + str(secondnum))
    print("Soma: ", firstnum + secondnum)

In [ ]:
addNum(10,50)

Primeiro número: 10
Segundo número: 50
Soma:  60

In [ ]:
def horastrabalhadas(hora, minutos, valor):
  convertido = minutos/60
  result = (hora + convertido) * valor
  return result

In [ ]:
valor = horastrabalhadas(133,25,50)
valor

6670.833333333333

In [ ]:
def soma (num1, num2):
  resp = num1+num2
  return resp
def sub (num1, num2):
  resp = num1-num2
  return resp
def mult (num1, num2):
  resp = num1*num2
  return resp
def div (num1, num2):
  resp = num1/num2
  return resp

In [ ]:
div(20,5)

4.0

In [ ]:
#exemplos de manipulação de retornos usando outras funções que foram realizadas anteriormente, retornando mais de um valor
def calculadora():
  calc = int(input("Calculadora Acionada, qual cálculo você quer fazer? \n Digite 1 para Somar \n Digite 2 para Subtrair \n Digite 3 para Multiplicar \n Digite 4 para Dividir"))
  valor1 = int(input("Digite o Primeiro Valor para fazer o Cálculo:"))
  valor2 = int(input("Digite o Segundo Valor para fazer o Cálculo:"))
  if calc == 1:
    resul = soma(valor1,valor2)
    tipo = " fez Soma"
  elif calc == 2:
    resul = sub(valor1,valor2)
    tipo =  "fez Subtração"
  elif calc ==3:
    resul = mult(valor1,valor2)
    tipo = "fez Multiplicação"
  elif calc ==4:
    resul = div(valor1,valor2)
    tipo = " fez Divisão"
  else:
    resul = "invalido"
    tipo = "invalido"
  if resul == "invalido":
    resul = "não digitou um valor válido pra fazer o cálculo"
  return resul, tipo

In [ ]:
resultado, tipo = calculadora()

Calculadora Acionada, qual cálculo você quer fazer?
 Digite 1 para Somar
 Digite 2 para Subtrair
 Digite 3 para Multiplicar
 Digite 4 para Dividir2
Digite o Primeiro Valor para fazer o Cálculo:50
Digite o Segundo Valor para fazer o Cálculo:2

In [ ]:
print("Você", tipo, "o resultado obtido foi: ", resultado)

Você fez Subtração o resultado obtido foi:  48

In [ ]:
# Variável Global
var_global = 10  # Esta é uma variável global

def multiply(num1, num2):
    var_global = num1 * num2  # Esta é uma variável local
    print(var_global)

In [ ]:
var_global

10

In [ ]:
multiply(5,6)

30

In [ ]:
#como a variável var_global foi criada também dentro da função ele só será utilizada ali dentro.
var_global

10

In [ ]:
#caso eu tente acessar uma vaiável local:
def multiply(num1, num2):
    var_local = num1 * num2  # Esta é uma variável local
    print(var_local)

In [ ]:
multiply(2,3)

6

In [ ]:
#tentando acessar variável local
var_local

NameError: ignored

In [ ]:
# Usando a função int para converter o valor digitado, o int é uma função que alguém criou e que
idade =int(input("Digite sua idade: "))
if idade > 13:
    print("Você pode acessar o Facebook")

Digite sua idade: 40
Você pode acessar o Facebook

In [ ]:
nome = "cintia"
len(nome)

6

In [ ]:
# Fazendo split dos dados
def split_string(text):
    return text.split(" ")

In [ ]:
texto = "Esta função será bastante útil para separar grandes volumes de dados."

In [ ]:
# Isso divide a string em uma lista.
print(split_string(texto))

['Esta', 'função', 'será', 'bastante', 'útil', 'para', 'separar', 'grandes', 'volumes', 'de', 'dados.']

In [ ]:
token = split_string(texto)
token[2]

'será'

In [ ]:
token[4]

'útil'

In [ ]:
caixa_baixa = "Este Texto Deveria Estar Todo Em LowerCase"

In [ ]:
def lowercase(text):
    return text.lower()

In [ ]:
lowercase(caixa_baixa)

'este texto deveria estar todo em lowercase'

In [ ]:
# Funções com número variável de argumentos
def printVarInfo( arg1, *vartuple ):
   # Imprimindo o valor do primeiro argumento
    print ("O parâmetro passado foi: ", arg1)

   # Imprimindo o valor do segundo argumento
    for item in vartuple:
        print ("O parâmetro passado foi: ", item)
    return;

In [ ]:
# Fazendo chamada à função usando apenas 1 argumento
printVarInfo(10)

O parâmetro passado foi:  10

In [ ]:
printVarInfo('Chocolate', 'Morango', 'Banana',1, True)

O parâmetro passado foi:  Chocolate
O parâmetro passado foi:  Morango
O parâmetro passado foi:  Banana
O parâmetro passado foi:  1
O parâmetro passado foi:  True

#Atividade de Funções com Python
##03/11/2025

##Exemplos:

###1°Exemplo:

In [1]:
def saudacao():
  print("Olá! Seja bem-vindo(a) ao curso de Python!")

In [2]:
saudacao()

Olá! Seja bem-vindo(a) ao curso de Python!

###2°Exemplo:

In [3]:
from datetime import datetime

def horario():
    agora = datetime.now()
    print(f"Horário atual: {agora.strftime('%H:%M:%S')}")

In [4]:
horario()

Horário atual: 13:42:09

###3°Exemplo:

In [5]:
def apresentar(nome):
  print(f"Olá, {nome}! Prazer em te conhecer.")

In [6]:
apresentar("Pietro")

Olá, Pietro! Prazer em te conhecer.

###4°Exemplo:

In [19]:
def verificar_paridade(numero):
    if numero % 2 == 0:
        print(f"O número {numero} é PAR.")
    else:
        print(f"O número {numero} é ÍMPAR.")

# Chamando a função
verificar_paridade(7)
verificar_paridade(12)

O número 7 é ÍMPAR.
O número 12 é PAR.

###5°Exemplo:

In [8]:
def boas_vindas(nome, curso):
    print(f"Olá, {nome}! Seja bem-vindo(a) ao curso de {curso}!")

# Chamando a função
boas_vindas("Pietro", "Programação em Python")

Olá, Pietro! Seja bem-vindo(a) ao curso de Programação em Python!

###6°Exemplo:

In [9]:
def mensagem():
  return "Hoje é um ótimo dia para programar!"

In [10]:
print(mensagem())

Hoje é um ótimo dia para programar!

###7°Exemplo:

In [20]:
def somatresnotas():
    nota1 = float(input("Digite a primeira nota: "))
    nota2 = float(input("Digite a segunda nota: "))
    nota3 = float(input("Digite a terceira nota: "))
    total = nota1 + nota2 + nota3
    return total

In [21]:
def mediatresnotas():
    soma = somatresnotas()
    media = soma / 3
    return media

In [22]:
print("A média das três notas é", mediatresnotas())

Digite a primeira nota: 10
Digite a segunda nota: 4
Digite a terceira nota: 9
A média das três notas é 7.666666666666667

###8°Exemplo:

In [14]:
def soma(a, b):
  resultado = a + b
  return resultado

In [15]:
print(soma(10, 5))

15

###9°Exemplo:

In [16]:
def calcular_total(preco_unitario, quantidade):
    total = preco_unitario * quantidade
    return total

# Programa principal
valor = calcular_total(25.50, 3)
print(f"O valor total da compra é R$ {valor:.2f}")

O valor total da compra é R$ 76.50

###10°Exemplo:

In [17]:
def calcular_imc(peso, altura):
    imc = peso / (altura ** 2)
    return imc

# Programa principal
peso = float(input("Digite seu peso (kg): "))
altura = float(input("Digite sua altura (m): "))

resultado = calcular_imc(peso, altura)
print(f"Seu IMC é {resultado:.2f}")

Digite seu peso (kg): 56
Digite sua altura (m): 1.72
Seu IMC é 18.93

###11°Exemplo:

In [18]:
def calcular_soma_e_media(a, b, c):
    soma = a + b + c
    media = soma / 3
    return soma, media  # dois retornos!

# Programa principal
n1 = float(input("Digite o primeiro número: "))
n2 = float(input("Digite o segundo número: "))
n3 = float(input("Digite o terceiro número: "))

resultado_soma, resultado_media = calcular_soma_e_media(n1, n2, n3)

print(f"A soma é {resultado_soma:.2f}")
print(f"A média é {resultado_media:.2f}")

Digite o primeiro número: 34
Digite o segundo número: 79
Digite o terceiro número: 3
A soma é 116.00
A média é 38.67

##Exercicios:

###1°Exercicio:
Mensagem de Boas-vindas

Crie uma função chamada saudacao que não recebe parâmetros e simplesmente imprime na tela a mensagem que você escolher.

Nome da Função: boas_vindas(), escolha a saudação

 Esta é a forma mais simples: uma função que executa uma ação (impressão) sem precisar de dados externos ou retornar um resultado.

 Dica: esse tipo de função é “sem parâmetro e sem retorno”

In [23]:
def boas_vindas():
  print("seja muito bem-vindo(a), a programação de python")

In [24]:
boas_vindas()

seja muito bem-vindo(a), a programação de python

###2°Exercicio:
Conversor de Temperatura

Crie uma função chamada celsius_para_fahrenheit que recebe uma temperatura em Celsius ($C$) e retorna a temperatura equivalente em Fahrenheit ($F$).

$$
F = C \times \frac{9}{5} + 32
$$

 Lembre-se de converter a fração para decimal para garantir o cálculo correto e usar o return para devolver o valor.

In [32]:
def celsius_para_fahrenheit(celsius):
    fahrenheit = celsius * 9 / 5 + 32
    return fahrenheit

t_celsius = 25
temperatura_f = celsius_para_fahrenheit(t_celsius)
print(f"{t_celsius}°C equivalem a {temperatura_f}°F")

25°C equivalem a 77.0°F

###3°Exercicio:
Mensagem Personalizada

Crie uma função chamada boas_vindas_personalizada que recebe um parâmetro nome (string) e imprime uma mensagem de boas-vindas usando esse nome (Ex: "Olá, [Nome]! Seja bem-vindo.").

 Esta função recebe um parâmetro, mas não precisa de um retorno, pois sua finalidade é apenas a exibição na tela.

In [37]:
def boas_vindas_personalizada(nome):
  print(f"olá {nome}, seja muito bem-vindo(a)")

In [38]:
boas_vindas_personalizada("Pietro")

olá Pietro, seja muito bem-vindo(a)

###4°Exercicio:
Quadrado e Cubo

Crie uma função chamada calcular_potencias que recebe um número n e retorna o quadrado e o cubo desse número em uma tupla.

A função deve retornar dois valores. Lembre-se que em Python, você pode retornar múltiplos valores, que são automaticamente empacotados em uma tupla.

In [41]:
def calcular_potencias(n):
  quadrado = n*n
  cubo = n*n*n
  return quadrado, cubo

In [42]:
n = 3
quadrado, cubo = calcular_potencias(n)
print(f"O quadrado de {n} é {quadrado} e o cubo é {cubo}.")

O quadrado de 3 é 9 e o cubo é 27.

###5°Exercicio:
Contagem Regressiva

Crie uma função chamada contagem_regressiva que recebe um número inteiro inicio e imprime todos os números de inicio até 1.

Use um laço de repetição (for ou while) para iterar e imprimir os números sequencialmente. Não é necessário retornar nada.

In [43]:
def contagem_regressiva(contagem):
    for i in range(contagem, 0, -1):
        print(i)

contagem_regressiva(10)

10
9
8
7
6
5
4
3
2
1

###6°Exercicio:
Cálculo de Desconto

Desenvolva uma função chamada calcular_desconto que aceita valor_original e percentual_desconto como parâmetros e retorna o valor final após aplicar o desconto.

$$
\text{Valor Final} = \text{Valor Original} \times (1 - \frac{\text{Percentual Desconto}}{100})
$$

 Para calcular o percentual corretamente, divida o percentual_desconto por 100 antes de subtrair de 1.

In [44]:
def calcular_desconto(valor_original, percentual_desconto):
    valor_final = valor_original * (1 - percentual_desconto / 100)
    return valor_final

In [45]:
preco = 200
desconto = 15
preco_final = calcular_desconto(preco, desconto)
print(f"O valor final após {desconto}% de desconto é R${preco_final:.2f}")

O valor final após 15% de desconto é R$170.00

###7°Exercicio:
Maior e Menor

Crie uma função chamada encontrar_extremos que recebe uma lista de números e retorna o maior e o menor número da lista.

Você pode explorar as funções nativas do Python max() e min() para uma solução concisa, ou implementar a lógica de comparação manualmente

In [47]:
def encontrar_extremos(numeros):
    maior = max(numeros)
    menor = min(numeros)
    return maior, menor

lista = [4, 7, 1, 9, 2, 3, 14]
maior_num, menor_num = encontrar_extremos(lista)
print(f"O maior número é {maior_num} e o menor número é {menor_num}.")

O maior número é 14 e o menor número é 1.

###8°Exercicio:
Calculadora Simples

Crie uma função chamada calculadora que recebe dois números (a e b) e uma operacao (string: 'soma', 'subtracao', 'multiplicacao', 'divisao') e retorna o resultado da operação.

 Use estruturas condicionais (if/elif/else) para determinar qual cálculo realizar e adicione uma verificação para evitar divisão por zero.

In [51]:
def calculadora(a, b, operacao):
  if operacao == 'soma':
      return a + b
  elif operacao == 'subtracao':
      return a - b
  elif operacao == 'multiplicacao':
      return a * b
  elif operacao == 'divisao':
    if b != 0:
      return a / b
    else:
      return "erro:Divisão por zero!"
  else:
      return "operação inválida"

In [52]:
print(calculadora(10, 5, 'soma'))
print(calculadora(10, 5, 'subtracao'))
print(calculadora(10, 5, 'multiplicacao'))
print(calculadora(10, 0, 'divisao'))

15
5
50
erro:Divisão por zero!

###9°Exemplo:
Mensagem Automática

Crie uma função chamada enviar_email que recebe destinatario e assunto, e opcionalmente um corpo da mensagem. Se o corpo não for fornecido, use um texto padrão como "Este é um email automático."

Defina o parâmetro corpo com um valor padrão (default value) na assinatura da função para torná-lo opcional.

In [56]:
def enviar_email(destinatario, assunto, corpo="Este é um email automático."):
    print(f"Para: {destinatario}")
    print(f"Assunto: {assunto}")
    print(f"Mensagem: {corpo}")

enviar_email("joao@example.com", "Bem-vindo!") #exemplo1
enviar_email("maria@example.com", "Aviso", "Olá Maria, este é um aviso importante.")#exemplo2

Para: joao@example.com
Assunto: Bem-vindo!
Mensagem: Este é um email automático.
Para: maria@example.com
Assunto: Aviso
Mensagem: Olá Maria, este é um aviso importante.

###10°Exemplo:
Sistema de Notas

Desenvolva uma função chamada avaliar_aluno que recebe uma nota (número) e retorna uma string indicando a situação do aluno: "Aprovado" (nota $\ge 7$), "Recuperação" ($\ge 5$ e $< 7$) ou "Reprovado" ($< 5$).

Lembre-se de usar operadores lógicos como and para definir os intervalos de notas de forma clara.

In [ ]:
def avaliar_aluno(nota):
    if nota >= 7:
        return "Aprovado"
    elif 5 <= nota < 7:
        return "Recuperação"
    else:
        return "Reprovado"

print(avaliar_aluno(8))
print(avaliar_aluno(6))
print(avaliar_aluno(3))